<%- include("partials/header.ejs") %>
<h1 class="display-3 text-emphasis-primary bg-secondary-subtle mb-0">
  Create your new quote!
</h1>
<form
  action="/blog.ejs"
  method="post"
  class="form-group createNewQuote bg-secondary-subtle"
>
  <%- include("partials/forum_shape.ejs") %>
</form>

<%- include("partials/footer.ejs") %>
